@use '@carbon/react';

.side-nav{
  margin-top: 48px;
}

.bg{
  min-height: calc(100vh - 48px);
  width: calc(100vw - 256px);
  position: relative;
  left: 256px;
  background-color: #f4f4f4;
  padding: 24px;
  text-align: left;
}

.form{
  padding: 20px;
  background-color: #fff;
}

h1{
  margin-bottom: 16px;
}

h2{
  margin-bottom: 16px;
}

.get-button{
  margin-top: 16px;
}
