@use '@carbon/react';

.bg{
  width: 100vw;
  height: calc(100vh - 48px);
  object-fit: cover;
}

.center{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: white;
  padding: 16px;
  text-align: left;
  width: min(max(40%, 260px), 90%);
  height: 370px;

}
.login{
  text-align: left;
  margin-bottom: 4px;
}

.help{
  margin-bottom: 48px;
}

.help-text{
  font-size: small;
}

.divider{
  border-top: solid 1px #e7e7e8;
  width: calc(100% + 32px);
  margin-bottom: 16px;
  right: 16px;
  position: relative;
}

.text-input{
  //margin-bottom: 24px;
}

.checkbox{
  margin-top: 16px;
  margin-bottom: 40px;
}

.button{
  width: 50%;
  right: 0;
  bottom: 0;
  position: absolute;
}
.button-back{
  width: 50%;
  left: 0;
  bottom: 0;
  position: absolute;
}

